<div syle="text-align:center !important;">
    <div class="collection">
    
    <form>
            <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3">
              
            </div>
            <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 pull-right">
                <!-- See Alternate implementation in admin search pipe where it is directly assigned and it breaks the change detection -->
                <app-searchbox (update)="searchitems($event)"></app-searchbox>
            </div>
    </form><br><br>
    <span class="  col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="margin-bottom: 100px;">
            <span href="#!" class="collection-item active collection-table-font">
                <div class="mdl-grid" style="padding:0px !Important; background-color: #eee;">                     
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding:10px">
                      <b>Username</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding:10px">
                      <b>Total</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding:10px">
                      <b>Date</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding:10px">
                      <b>Cancelled</b>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding:10px">
                    <b>Cancel</b>
                    </div>
                </div>
            </span>
            <span href="#!" class="collection-item collection-table-font" style="font-size:0.8em;">
                <div class="mdl-grid" 
                style="padding:0px !Important; border-bottom: 1px solid #eee;" 
                *ngFor="let item of datalist">                
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
                    style="padding:10px"
                    >
                      {{item.username}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
                    style="padding:10px"
                    >
                      {{item.products[0].currency}} {{item.total}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                    style="padding:10px"
                    >
                      {{item.created}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"
                    style="padding:10px"
                    >
                      {{item.cancelled}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" style="padding:10px"> 
                      <a (click)="oncancelitem(item)" href="">Cancel</a>
                    </div>
                </div>
            </span>
    </span>                       
    </div>
</div>